:root {
  --turqoise-color: turquoise;
  --blue-color: #006ec4;
  --accent-yellow: #ffbc0e;
}

body {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
a {
 text-decoration: none;
 color: var(--turqoise-color);
}

.row {
  text-align: center;
}

li {
  list-style: none;
}

.github-link {
  text-align: center;
  font-size: small;
}

#description {
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  max-width: 500px;
  color: var(--accent-yellow);
  background-color: var(--blue-color);
}

.loading {
 font-size: 30px;
 text-align: center;
}

#hour-top {
  max-width: 500px;
  text-align: center;
  color: turquoise;
  font-size: 20px;
  border: 4px solid var(--turqoise-color);
  font-weight: bolder;
}

#city {
  text-align: center;
  font-size: 56px;
  color: var(--accent-yellow);
}

#temperature {
  color: var(--blue-color);
  font-size: 86px;
  position: relative;
  top: -10px;
}

.units {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  top: 20px;
}

.dash {
  color: var(--accent-yellow);
}

.fahrenheit {
color: var(--turqoise-color);
}

ul.changing-weather {
  background-color: var(--turqoise-color);
  color: var(--accent-yellow);
  list-style-type: none;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  column-width: auto;
  column-count: 4;
}

ul.additional-parameters {
  list-style: none;
  border: 4px solid var(--turqoise-color);
  color: var(--accent-yellow);
  font-size: 16px;
  font-weight: bolder;
  column-width: auto;
  column-count: 3;
}

.card-title-daily {
  color: var(--blue-color);
}

.temperatures-daily {
  text-align: center;
  color: var(--turqoise-color);
}

.daily-temperature-min {
  opacity: 0.5;
}

.formular {
  border: none;
  max-width: 600px;
}

#form-city-text {
  max-width: 600px;
  display: inline-block;
  border: 4px solid var(--blue-color);
  background: white;
  font-size: 20px;
  text-align: center;
}

.form-city-button {
  max-width: 600px;
  display: inline-block;
  color: white;
  background: var(--blue-color);
  border: 4px solid var(--blue-color);
  transition: all 200ms ease;
  text-align: center;
  font-size: 20px;
}

.form-city-button:hover {
  cursor: pointer;
  color: var(--blue-color);
  background: white;
  border: 4px solid var(--blue-color);
}

.current-city-button {
  max-width: 600px;
  display: inline-block;
  background-color: var(--turqoise-color);
  border: 4px solid var(--turqoise-color);
  color: white;
  text-align: center;
  font-size: 20px;
}

.current-city-button:hover {
  background-color: white;
  cursor: pointer;
  color: turquoise;
  border: 4px solid var(--turqoise-color);
  transition: all 200ms ease;
}

@media (max-width: 567px) {

  #small-icon canvas {
    width: 100%;
  }

  #hour-top {
    font-size: 15px;
  }

  #city {
    font-size: 36px;
  }
  
  #temperature {
    font-size: 76px;
  }
  .units {
    top: 15px;
  }

  .temperatures-daily,
  .daily-temperature-min {
  font-size: 15px;
  }
}

